global:
  scrape_interval: 1m
  scrape_timeout: 20s
  evaluation_interval: 1m
  external_labels:
    monitor: 'home'
scrape_configs:
  # Raspberry Pi 3
  - job_name: 'RP3'
    static_configs:
      - targets: 
        - '10.0.2.1:9100'
        - '10.0.2.2:9100'
  # Raspberry Pi 4
  - job_name: 'RP4'
    static_configs:
      - targets:
        - '10.0.2.3:9100'
        - '10.0.2.4:9100'
  # Raspberry Pi Zero WiFi
  - job_name: 'RPZ'
    static_configs:
      - targets:
        - '10.0.2.5:9100'
  # MacBook Pro 13 2011
  - job_name: 'MBP-13-2011'
    static_configs:
      - targets:
        - '10.0.1.1:9100'
        - '10.0.1.2:9100'
  # MacBook 12 2017
  - job_name: 'MB-12-2017'
    static_configs:
      - targets: 
        - '10.0.1.4:9100'
  # MacBook Pro 13 2019
  - job_name: 'MBP-13-2019'
    static_configs:
      - targets: 
        - '10.0.1.5:9100'
        - '10.0.1.6:9100'
  # MacBook Pro 15 2015
  - job_name: 'MBP-15-2015'
    static_configs:
      - targets: 
        - '10.0.1.7:9100'
        - '10.0.1.8:9100'
  # MacBook Pro 15 2017
  - job_name: 'MBP-15-2017'
    static_configs:
      - targets: 
        - '10.0.1.9:9100'
        - '10.0.1.10:9100'



global:
  scrape_interval: 1m
  scrape_timeout: 20s
  evaluation_interval: 1m
  external_labels:
    monitor: 'home'
scrape_configs:
  - job_name: 'home_devices'
    static_configs:
      # Raspberry Pi 3
      - labels:
          group: 'RP3'
        targets:
          - '10.0.2.1:9100'
          - '10.0.2.2:9100'
      # Raspberry Pi 4
      - labels:
          group: 'RP4'
        targets:
          - '10.0.2.3:9100'
          - '10.0.2.4:9100'
      # Raspberry Pi Zero WiFi
      - labels:
          group: 'RPZ'
        targets:
          - '10.0.2.5:9100'
      # MacBook Pro 13 2011
      - labels:
          group: 'MBP-13-2011'
        targets:
          - '10.0.1.1:9100'
          - '10.0.1.2:9100'
      # MacBook 12 2017
      - labels:
          group: 'MBP-12-2017'
        targets:
          - '10.0.1.3:9100'
          - '10.0.1.4:9100'
      # MacBook Pro 13 2019
      - labels:
          group: 'MBP-13-2019'
        targets:
          - '10.0.1.5:9100'
          - '10.0.1.6:9100'
      # MacBook Pro 15 2015
      - labels:
          group: 'MBP-15-2015'
        targets:
          - '10.0.1.7:9100'
          - '10.0.1.8:9100'
      # MacBook Pro 15 2017
      - labels:
          group: 'MBP-15-2017'
        targets:
          - '10.0.1.9:9100'
          - '10.0.1.10:9100'
